@import "/css/reset.css";
@import "/css/font.css";
@import "/css/main-slider.css";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  width: 100vw;
  height: 100vh;
}

.main-text {
  text-align: center;
  padding: 15px 0;
}